################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BerlinClock/v16
/bin/Debug
/obj/Debug
/packages/SpecFlow.1.9.0
/BerlinClock.csproj.user
